.experiences-page {
  height: 100vh;
  width: 100vw;
  background-size: cover !important;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), image-url("index_background.jpg");
  background-position: bottom;

  h1 {
      font-size: 50px;
      font-weight: lighter;
      color: white;
      text-shadow: 0px 1px rgba(0, 0, 0, 0.5);
    }

    h2 {
      font-size: 30px;
      font-weight: lighter;
      // text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    }

    p {
      font-size: 20px;
      font-weight: lighter;
      color: rgb(255, 255, 255);
      opacity: 0.7;
      margin-bottom: 30px;
      text-shadow: 0px 1px rgba(0, 0, 0, 0.5)
    }
}

// .container-experiences {
//   color: #ffd966;
//   text-align: center;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding-top: 0px;
//   padding-left: 40px;
//   padding-right: 40px;
//   margin: 0 auto;
//   position: relative;
//   bottom: 0px;
//   left: 0px;
//   top: 0;
//   z-index: 0;
// }


.banner-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  position: relative;
  top: 0px;
  z-index: 0;
  text-align:center;
  vertical-align: middle;
  padding-top: 30px;
  opacity: 0.7;
  padding: 20px 30px;
  font-size: 25px;
  line-height: 1.3;
  border-radius: 2px;

}

