

/* BANNER TOP - change content if user alone */

.banner-match{
  background-color: black;
  min-height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 0;

  .match-container {
    min-height: 40vh;
    width: 100%;
    margin: 0px auto;
    // display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 43px;

    .match-content {
      padding-bottom: 32px;

      .match-title {
        padding-top: 30px;
        font-family: 'Cabin Sketch', cursive;
        color: #ffd966;
        font-weight: 700;
        font-size: 60px;
        text-shadow: 0px 1px rgba(0, 0, 0, 0.9);
      }

      .match-heading {
        font-family: "Lato", "sans-serif";
        font-size: 16px;
        line-height: 25px;
        color: white;
        font-weight: 300;
        margin: 0px 0 0;
        text-align: center;
        // text-transform: capitalize;
        text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
      }
      .match-tribe{
        font-size: 14px;
        font-weight: 300;
        color: #fff1cc;
        text-align: center;
        text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

/* BLINKING BUTTOM */
.book-blinking {
  // background-color: #fff1cc;
  -webkit-border-radius: 10px;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 5000ms infinite;
  -moz-animation: glowing 5000ms infinite;
  -o-animation: glowing 5000ms infinite;
  animation: glowing 5000ms infinite;
}
$trybes-light-yellow: #fff1cc;
$trybes-dark-yellow: #ffd966;
@-webkit-keyframes glowing {
  0% { background-color: #ffd966; -webkit-box-shadow: 0 0 3px #ffd966; }
  50% { background-color: #fff1cc; -webkit-box-shadow: 0 0 40px #fff1cc; }
  100% { background-color: #ffd966; -webkit-box-shadow: 0 0 3px #ffd966; }
}

@-moz-keyframes glowing {
  0% { background-color: #ffd966; -moz-box-shadow: 0 0 3px #ffd966; }
  50% { background-color: #fff1cc; -moz-box-shadow: 0 0 40px #fff1cc; }
  100% { background-color: #ffd966; -moz-box-shadow: 0 0 3px #ffd966; }
}

@-o-keyframes glowing {
  0% { background-color: #ffd966; box-shadow: 0 0 3px #ffd966; }
  50% { background-color: #fff1cc; box-shadow: 0 0 40px #fff1cc; }
  100% { background-color: #ffd966; box-shadow: 0 0 3px #ffd966; }
}

@keyframes glowing {
  0% { background-color: #ffd966; box-shadow: 0 0 3px #ffd966; }
  50% { background-color: #fff1cc; box-shadow: 0 0 40px #fff1cc; }
  100% { background-color: #ffd966; box-shadow: 0 0 3px #ffd966; }
}


/* Banner-carousel > Adding new members as they join */

.banner-carousel{
  background-color: white;
  background-position: top;
  // min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 2;
  // padding-bottom: 250px;

  .carousel-container {
    // min-height: 100vh;
    width: 100%;
    margin: 0px auto;
    // display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;

    .carousel-content {
      // padding-bottom: 32px;

      .user{
        display: flex;
        // align-items: center;
        justify-content: space-around;
        // height: 100px;
        // margin: 0 auto;
        overflow: visible;
        // padding-top: 1px;
        overflow: auto;
        padding: 0px 0px;
        z-index: 200;
      }
      .user img{
        background: none repeat scroll 0 0 #FFFFFF;
        border: 4px solid #FFFFFF;
      }

      .fafa {
        padding-top: 15px;
      }

      .fa-comment {
        color: black;
      }
    }
  }
}

// Carousel Users Image

$duration: 450ms;
$tileWidth: 80px;
$tileHeight: ($tileWidth / (16/9));
$iconSize: 50px;
$growFactor: 1.5; // 1.5 times the original size

$moveLeft: -($tileWidth * ($growFactor - 1) / 2);
$moveRight: $tileWidth * ($growFactor - 1);

.user {
  // padding: 0 10px;
  // margin: 0;
  // background: #0E0F11;
  // color: #ecf0f1;
  // font-family: 'Open Sans', sans-serif;
  // min-height: 100vh;
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // width: 100%;

  // * { box-sizing: border-box }

  // h1, p {
  //   text-align: center;
  // }

  // p {
  //   width: 100%;
  //   max-width: 500px;
  //   margin: auto;
  // }

  a:link,
  a:hover,
  a:active,
  a:visited {
    transition: color 150ms;
    color: #95a5a6;
    text-decoration: none;
  }

  a:hover {
    color: #7f8c8d;
    text-decoration: underline;
  }

  .contain{
    width: 100%;
  }

  .row {
    overflow: auto;
    width: 100%;
    padding: -60px;
    padding-top: 30px;
    padding-bottom: 25px;
  }

  .row__inner {
    transition: $duration transform;
    font-size: 0;
    white-space: nowrap;
    // margin: ($tileHeight / 2) 0;
    padding-bottom: 10px; // Account for OS X scroll bar
  }

  .tile {
    position: relative;
    display: inline-block;
    // width: $tileWidth;
    // height: $tileHeight;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: $duration all;
    transform-origin: center left;
  }

  .tile__img {
    max-width: $tileWidth;
    // height: 90px;
    object-fit: cover;

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: black;
    }

    &:after {
      margin-top: (-($iconSize / 2));
      margin-left: (-($iconSize / 2));
      width: $iconSize;
      height: $iconSize;
      border: 3px solid #ecf0f1;
      line-height: $iconSize;
      text-align: center;
      border-radius: 100%;
      background: rgba(0,0,0,0.5);
      z-index: 1;
    }

    &:before {
      content: '▶';
      left: 0;
      width: 100%;
      font-size: 30px;
      margin-left: 7px;
      margin-top: -18px;
      text-align: center;
      z-index: 2;
    }

    .tile:hover & {
      opacity: 1;
    }
  }

  .tile__title {
    position: absolute;
    bottom: 0;
    padding: 10px;
  }


  // *
  // * Hover effects
  // *

  // We assume when you hover .row, you're also hovering a .tile
  // First, move the whole row towards the left
  .row__inner:hover {
    transform: translate3d($moveLeft, 0, 0);
  }

  .row__inner:hover .tile {

    // Fade out every tile
    opacity: .3;

    // And then grow the current tile and make it opaque again
    &:hover {
      transform: scale($growFactor);
      opacity: 1;
    }
  }

  // And finally move all tiles right of the current tile to the right,
  // so its flush against the hovered tile
  .tile:hover ~ .tile {
    transform: translate3d($moveRight, 0, 0);
  }


  //message direct

  .message-user-link a{
    color: white;
    font-size: 10px;
  }
  .message-user-link a:hover {
    color: white;
    text-decoration: none;
  }

  .btn-message {
    color: white;
    border: 1px solid #999999;
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: 400;
    font-weight: lighter;
    font-size: 10px;
    opacity: 0.6;
    transition: background 0.3s ease;
    background-color: transparent;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .btn-message:hover {
    opacity: 1;
    text-decoration: none;
    color: white;
    background-color: transparent;
  }

}


// arrow

.arrow {
  align-items: center;
  font-size: 50px;
}



/* EXPERIENCE DASHBOARD */

//grid layout

.match-experience-dashboard {
  display: grid;
  grid-template-rows: 50% 50% ;
  grid-template-columns: 300px repeat(3, 1fr);
  // height: 100vh;
  // padding: 30px 0 70px; //top-bottom, left-right
  transition: all 2s ease;
}

.main-dashboard {
  grid-row: 1 /span 2;
  grid-column: 1 /span 1;
}

.description-dashboard {
  grid-row: 2 /span 1;
  grid-column: 2 /span 3;
  overflow: scroll;
}

//white cards design

.main-dashboard, .description-dashboard {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.stat-dashboard {
  background: #fff1cc;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.stat-date-dashboard {
    background: #ffd966;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

  }

@media (max-width: 700px){
  .match-experience-dashboard {
    display: block;
  }
}

.match-experience-dashboard .supplier-content {
  height: 100%;

  .banner-cover{
    // height: 100%;
    overflow: hidden;
    // border-radius: 4px 4px 0 0;
    position: top;
    }
  .banner-cover img{
    width: 100%;
    }
  .supplier{
    border-radius: 50%;
    display: block;
    height: 120px;
    margin: -55px auto 0;
    overflow: hidden;
    width: 120px;
    }
  .supplier img{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FFFFFF;
    width: 100%;
  }

  .supplier-content-wrap {
    padding: 25px;
    padding-top: 0px;
  }

}

.match-experience-dashboard .description-dashboard {
  .description-content {
    padding-right: 25px;
    padding-left: 25px;
  }

}

.experience-info {
  .supplier .img-circle {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // height: 100px;
    margin: 0 auto;
    overflow: visible;
    padding-top: 1px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FFFFFF;
    margin-top: 0px;
  }
}


/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
  margin: 60px auto 15px;
  width: 768px;
  padding-left: 30px;
  padding-right: 60px;
  padding-bottom: 50px;
   * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   }

   a {
    color: #03658c;
    text-decoration: none;
   }

  ul {
    list-style-type: none;
  }
}

.comments-container h1 {
  font-size: 36px;
  color: #283035;
  font-weight: 400;
}

.comments-container h1 a {
  font-size: 18px;
  font-weight: 700;
}

.comments-list {
  margin-top: 30px;
  position: relative;
}

/**
 * Linhas / Detalhes
 -----------------------*/
.comments-list:before {
  content: '';
  width: 2px;
  height: 100%;
  background: #c7cacb;
  position: absolute;
  left: 32px;
  top: 0;
}

.comments-list:after {
  content: '';
  position: absolute;
  background: #c7cacb;
  bottom: 0;
  left: 27px;
  width: 7px;
  height: 7px;
  border: 3px solid #dee1e3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
  content: '';
  width: 60px;
  height: 2px;
  background: #c7cacb;
  position: absolute;
  top: 25px;
  left: -55px;
}


.comments-list li {
  margin-bottom: 15px;
  display: block;
  position: relative;
}

.comments-list li:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  width: 0;
}

.reply-list {
  padding-left: 88px;
  clear: both;
  margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
  width: 65px;
  height: 65px;
  position: relative;
  z-index: 99;
  float: left;
  border: 3px solid #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  overflow: hidden;
}

.comments-list .comment-avatar img {
  width: 100%;
  height: 100%;
}

.reply-list .comment-avatar {
  width: 50px;
  height: 50px;
}

.comment-main-level:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
/**
 * Caixa de Comentario
 ---------------------------*/
.comments-list .comment-box {
  width: 680px;
  float: right;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  border-width: 10px 12px 10px 0;
  border-style: solid;
  border-color: transparent #FCFCFC;
  top: 8px;
  left: -11px;
}

.comments-list .comment-box:before {
  border-width: 11px 13px 11px 0;
  border-color: transparent rgba(0,0,0,0.05);
  left: -12px;
}

.reply-list .comment-box {
  width: 610px;
}
.comment-box .comment-head {
  background: #FCFCFC;
  padding: 10px 12px;
  border-bottom: 1px solid #E5E5E5;
  overflow: hidden;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
  float: right;
  margin-left: 14px;
  position: relative;
  top: 2px;
  color: #A6A6A6;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
  color: #03658c;
}

.comment-box .comment-name {
  color: #283035;
  font-size: 14px;
  font-weight: 700;
  float: left;
  margin-right: 10px;
}

.comment-box .comment-name a {
  color: #283035;
}

.comment-box .comment-head span {
  float: left;
  color: #999;
  font-size: 13px;
  position: relative;
  top: 1px;
}

.comment-box .comment-content {
  background: #FFF;
  padding: 12px;
  font-size: 15px;
  color: #595959;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
  content: 'autor';
  background: #03658c;
  color: #FFF;
  font-size: 12px;
  padding: 3px 5px;
  font-weight: 700;
  margin-left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
  .comments-container {
    width: 480px;
  }

  .comments-list .comment-box {
    width: 390px;
  }

  .reply-list .comment-box {
    width: 320px;
  }
}




//Footer
.book-bar-match {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  height: 55px;
  padding: 0px 40px;
  // color: rgba(0,0,0,0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
  // padding-top: 15px;
  justify-content: space-between;
  z-index: 400;
  display: none;

  .book-bar-info h4{
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 300;
  }

  .book-bar-match-display {
    display: none;
  }

  .book-bar-links {
    display: flex;
    align-items: center;

    .btn-match {
      color: #666666;
      padding: 10px 15px;
      border-radius: 4px;
      font-weight: 400;
      font-size: 14px;
      transition: background 0.3s ease;
    }
    .btn-match:hover {
      opacity: 1;
      color: black;
      background: #fff1cc;
      text-decoration: none;
    }
  }
}


// arrow effect
// .arrows {
//   width: 60px;
//   height: 72px;
//   position: absolute;
//   left: 50%;
//   margin-left: -30px;
//   bottom: 20px;
// }

// .arrows path {
//   stroke: #fff1cc;
//   fill: transparent;
//   stroke-width: 1px;
//   animation: arrow 2s infinite;
//   -webkit-animation: arrow 2s infinite;

// }

// @keyframes arrow
// {
// 0% {opacity:0}
// 40% {opacity:1}
// 80% {opacity:0}
// 100% {opacity:0}
// }

// @-webkit-keyframes arrow /*Safari and Chrome*/
// {
// 0% {opacity:0}
// 40% {opacity:1}
// 80% {opacity:0}
// 100% {opacity:0}
// }

// .arrows path.a1 {
//   animation-delay:-1s;
//   -webkit-animation-delay:-1s; /* Safari 和 Chrome */
// }

// .arrows path.a2 {
//   animation-delay:-0.5s;
//   -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
// }

// .arrows path.a3 {
//   animation-delay:0s;
//   -webkit-animation-delay:0s; /* Safari 和 Chrome */
// }



// >>> Responsivity to multiples devises

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 1111px) {
  .book-bar-match {
    padding-left: 200px;
    padding-right: 200px;
  }
}


@media (min-width: 768px) and (max-width: 1110px) and (orientation: landscape) {


  .book-bar-match {
    padding-left: 200px;
    padding-right: 200px;
  }

}


/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 600px) and (max-width: 767px) {

  .match-container .match-title {
    font-size: 55px;
  }

  .match-container {
    padding-top: 200px;
  }


}



/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 550px) {


}


@media (min-width: 320px) and (max-width: 745px) {
  .box-shadow {
    margin-right: 0px;
    margin-left: 0px;
  }

  .match-container {
    padding-top: 120px;
  }

  .match-container .match-title {
    font-size: 55px;
  }
}







// History

/* NAVBAR */
// .navbar-match {
//   background: transparent;
//   transition: all 0.3s ease;
//   height: 40px;
//   padding: 0px 30px;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   position: stick;
// }

// /* Navbar opaque */
// .navbar-match-opaque {
//   background-color: black;
//   opacity: 0.3;
// }

// /* Basic navbar item */
// .navbar-match-item {
//   cursor: pointer;
//   padding: 0 20px;
// }

// /* Navbar link */
// .navbar-match-link {
//   color: white;
//   font-size: 14px;
// }
// .navbar-match-link:hover {
//   color: yellow;
//   text-decoration: none;
// }
