.match-page {
  height: 100vh;
  width: 100vw;
}

.banner-match{
  background-size: cover !important;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  background-position: bottom;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.match-container {
  height: 80vh;
  width: 100%;
  border: 0px solid;
  // padding: 35px 50px;
  margin-top:15vh;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  // -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  // -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  // box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  .match-title {
    padding-top: 30px;
    font-family: 'Cabin Sketch', cursive;
    color: #ffd966;
    font-size: 80px;
  }
}

.main-match-container {
  padding-bottom: 115px;

  .heading {
    font-size: 22px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: capitalize;
  }
  .tribe{
    color: #fff1cc;
    text-align: center;
    margin-bottom: 20px;
  }
  .user{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // height: 100px;
    margin: 0 auto;
    overflow: visible;
    padding-top: 1px;
    overflow: auto;
    padding: 0px 0px;
  }
  .user img{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FFFFFF;
  }
}

.experience-info {
  .supplier .img-circle {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // height: 100px;
    margin: 0 auto;
    overflow: visible;
    padding-top: 1px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FFFFFF;
    margin-top: 0px;
  }

}

.ending {
  margin-bottom: 80px;;
}


// Carousel Users Image

$duration: 450ms;
$tileWidth: 80px;
$tileHeight: ($tileWidth / (16/9));
$iconSize: 50px;
$growFactor: 1.5; // 1.5 times the original size

$moveLeft: -($tileWidth * ($growFactor - 1) / 2);
$moveRight: $tileWidth * ($growFactor - 1);

.user {
  // padding: 0 10px;
  // margin: 0;
  // background: #0E0F11;
  // color: #ecf0f1;
  // font-family: 'Open Sans', sans-serif;
  // min-height: 100vh;
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // width: 100%;

  // * { box-sizing: border-box }

  // h1, p {
  //   text-align: center;
  // }

  // p {
  //   width: 100%;
  //   max-width: 500px;
  //   margin: auto;
  // }

  a:link,
  a:hover,
  a:active,
  a:visited {
    transition: color 150ms;
    color: #95a5a6;
    text-decoration: none;
  }

  a:hover {
    color: #7f8c8d;
    text-decoration: underline;
  }

  .contain{
    width: 100%;
  }

  .row {
    overflow: scroll;
    width: 100%;
    padding: 21px;
  }

  .row__inner {
    transition: $duration transform;
    font-size: 0;
    white-space: nowrap;
    // margin: ($tileHeight / 2) 0;
    padding-bottom: 10px; // Account for OS X scroll bar
  }

  .tile {
    position: relative;
    display: inline-block;
    // width: $tileWidth;
    // height: $tileHeight;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: $duration all;
    transform-origin: center left;
  }

  .tile__img {
    max-width: $tileWidth;
    // height: 90px;
    object-fit: cover;

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: black;
    }

    &:after {
      margin-top: (-($iconSize / 2));
      margin-left: (-($iconSize / 2));
      width: $iconSize;
      height: $iconSize;
      border: 3px solid #ecf0f1;
      line-height: $iconSize;
      text-align: center;
      border-radius: 100%;
      background: rgba(0,0,0,0.5);
      z-index: 1;
    }

    &:before {
      content: '▶';
      left: 0;
      width: 100%;
      font-size: 30px;
      margin-left: 7px;
      margin-top: -18px;
      text-align: center;
      z-index: 2;
    }

    .tile:hover & {
      opacity: 1;
    }
  }

  .tile__title {
    position: absolute;
    bottom: 0;
    padding: 10px;
  }


  // *
  // * Hover effects
  // *

  // We assume when you hover .row, you're also hovering a .tile
  // First, move the whole row towards the left
  .row__inner:hover {
    transform: translate3d($moveLeft, 0, 0);
  }

  .row__inner:hover .tile {

    // Fade out every tile
    opacity: .3;

    // And then grow the current tile and make it opaque again
    &:hover {
      transform: scale($growFactor);
      opacity: 1;
    }
  }

  // And finally move all tiles right of the current tile to the right,
  // so its flush against the hovered tile
  .tile:hover ~ .tile {
    transform: translate3d($moveRight, 0, 0);
  }

}


// fixed transitions

#fixed-transition-top {
  background: no-repeat center center;
  // background-image: cloudinary-url('ballet_home_1280.jpg');
  background-attachment: fixed;
  display: flex;
  height: 60%;
  position: relative;
  width: 100%;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
}


//Footer
.footer-trybes {
  z-index: 10;
}

.footer-match {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
  justify-content: space-around;
  z-index: 400;

  .btn:hover {
    color: black;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
    opacity: 0.4;
  }

  .footer-line {
    border-top: 1px solid #fff1cc;
    margin: 0px 0 0;
    padding: 16px 0 0;
    text-align: center;
  }
  .footer-line .social-links{
      font-size: 15px;
  }
  .footer-line .social-links a{
      margin: 0 14px;
  }
  .footer-line .btn-simple{
      margin-top: -6px;
  }

    .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    opacity: 1;
  }
  .footer .fa-heart {
    color: #D23333;
  }
}


// arrow effect
// .arrows {
//   width: 60px;
//   height: 72px;
//   position: absolute;
//   left: 50%;
//   margin-left: -30px;
//   bottom: 20px;
// }

// .arrows path {
//   stroke: #fff1cc;
//   fill: transparent;
//   stroke-width: 1px;
//   animation: arrow 2s infinite;
//   -webkit-animation: arrow 2s infinite;

// }

// @keyframes arrow
// {
// 0% {opacity:0}
// 40% {opacity:1}
// 80% {opacity:0}
// 100% {opacity:0}
// }

// @-webkit-keyframes arrow /*Safari and Chrome*/
// {
// 0% {opacity:0}
// 40% {opacity:1}
// 80% {opacity:0}
// 100% {opacity:0}
// }

// .arrows path.a1 {
//   animation-delay:-1s;
//   -webkit-animation-delay:-1s; /* Safari 和 Chrome */
// }

// .arrows path.a2 {
//   animation-delay:-0.5s;
//   -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
// }

// .arrows path.a3 {
//   animation-delay:0s;
//   -webkit-animation-delay:0s; /* Safari 和 Chrome */
// }



// Media Queries

@media (min-width: 320px) and (max-width: 745px) {
  .box-shadow {
    margin-right: 0px;
    margin-left: 0px;
  }
  .match-container .match-title {
    font-size: 40px;
  }
}







//
