<div class="card-group ">
  <div class="card">
    <div class="upper">
      <%= image_tag ('renato_avatar.jpeg'), class: "avatar-card"%>
    </div>
    <h2>Renato Peixoto</h2>
    <h3><i class="fas fa-dollar-sign" aria-hidden="true"></i> R$100 </h3>
    <div class="details">
      &nbsp;<i class="fa fa-map-marker" aria-hidden="true"></i>Adress<br>
      <i class="fas fa-paw" aria-hidden="true"></i> Experience <br>
      <i class="fas fa-clock" aria-hidden="true"> </i>Time
    </div>
  </div>
</div>

<!--
<div class="flip3D">
  <div class="back">Box 1 - Back</div>
  <div class="front">Box 1 - Front</div>

</div> -->

<!--
<div class="flip3D">
    <div class="card-group front">
      <div class="card">
        <div class="upper">
          <%= image_tag ('renato_avatar.jpeg'), class: "avatar-card"%>
        </div>
        <h2>Renato Peixoto</h2>
        <h3><i class="fas fa-dollar-sign" aria-hidden="true"></i> R$100 </h3>
        <div class="details">
          &nbsp;<i class="fa fa-map-marker" aria-hidden="true"></i>Adress<br>
          <i class="fas fa-paw" aria-hidden="true"></i> Experience <br>
          <i class="fas fa-clock" aria-hidden="true"> </i>Time
        </div>
      </div>
    </div>
    <div class="card-group back">
      <div class="upper">
        <%= image_tag ('rotating_card_profile3.jpg'), class: "avatar-card"%>
      </div>
      <h2>Renato Peixoto</h2>
      <h3><i class="fas fa-dollar-sign" aria-hidden="true"></i> R$100 </h3>
      <div class="details">
        &nbsp;<i class="fa fa-map-marker" aria-hidden="true"></i>Adress<br>
        <i class="fas fa-paw" aria-hidden="true"></i> Experience <br>
        <i class="fas fa-clock" aria-hidden="true"> </i>Time
      </div>
    </div>
</div> -->

