<form action="#" class="form-inline">
  <input type="text" class="form-control input-lg" placeholder="Where?">
  <input type="text" class="form-control input-lg" placeholder="From">
  <input type="text" class="form-control input-lg" placeholder="Until">
  <select name="" id="" class="form-control input-lg">
    <option value="0">Experiences...</option>
    <option value="1">Cooking</option>
    <option value="2">Motorcycling</option>
    <option value="3">Parachuting</option>
    <option value="4">Pilates</option>
    <option value="5">SCUBA Diving</option>
    <option value="6">Skate</option>
    <option value="7">Hiking</option>
    <option value="8">Yoga</option>

   </select>
   <input type="submit" class="btn btn-primary btn-lg" value="Search">
 </form>

