<% content_for(:navbar_class, "navbar-transparent") %>

<div class="filter-experiences">
  <br>
  <br>
  <br>
  <div class="banner-form input-xs ">
    <%#= render 'shared/search' %>
  </div>

 <%# render "/shared/card" %>



  <div class="flex-index">
    <div class='cards-container'>
      <div class="row">
            <div class="banner-form">
              <%= render 'shared/search', category: @category.name, address: @location, start: @start, finish: @finish %>
              <%#= raise %>
            </div>
              <%= render "/shared/card" %>
      </div>
    </div>
  </div>
</div>



