<% content_for(:navbar_class, "navbar-transparent") %>

<div class="filter-experiences">
  <br>
  <br>
  <br>
  <div class="banner-form input-xs ">
    <%#= render 'shared/search' %>
  </div>

 <%# render "/shared/card" %>



  <div class="flex-index">
    <div class='cards-container'>
      <div class="row">

            <%= render "/shared/card" %>

      </div>
    </div>
  </div>
</div>
