.footer {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.7);
  flex-direction: row;

  #footer-text {
    font-size: 8px;
  }

  .footer-copyright {
    color: #ffd966;
    opacity: 0.8;
  }

  .fa-heart {
    color: #ffd966;
  }
}

.footer-links {
  display: flex;
  align-items: center;

  a {
  color: #ffd966;
  opacity: 0.8;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  }

  a:hover {
  opacity: 1;
  }
}


@media (min-width: 320px) and (max-width: 550px) {
  .footer {
    flex-direction: column;
    padding-top: 10px;

    a {
      font-size: 18px;
    }

    .footer-copyright {
      font-size: 15px;
      align-items: center;
      text-align: center;
    }
  }
}
